@charset "UTF-8";
/* Собрать все стили */
/* variables.scss */
/* mixins.scss */
/* main.scss */
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #E32636;
  color: #ffffff;
  font-family: "Varela Round", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.wrapper {
  min-height: 300px;
  width: 800px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

/* form.scss */
.main-form {
  position: relative;
  margin-bottom: 20px; }
  .main-form__field {
    background: transparent;
    font-size: 20px;
    border: none;
    outline: none;
    font-family: "Varela Round", sans-serif;
    width: 100%;
    padding: 15px 15px 15px 0;
    text-indent: 20px;
    color: #fff;
    transition: all 0.3s;
    border-bottom: 1px solid #fff;
    padding-right: 100px; }
    .main-form__field:focus {
      border-bottom: 1px solid #F0E68C; }
  .main-form__buttons {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
    margin-right: -100px; }
    .main-form__buttons a {
      padding-right: 15px;
      margin-right: 11px;
      border-right: 1px solid #ffffff;
      display: inline-block;
      transition: all 0.3s;
      font-size: 16px;
      cursor: pointer; }
      .main-form__buttons a:last-child {
        padding-right: 0;
        margin-right: 0;
        border-right: 0; }
      .main-form__buttons a .fa {
        font-size: 30px;
        color: #ffffff;
        transition: all 0.2s; }
        .main-form__buttons a .fa:hover {
          color: #F0E68C;
          transform: scale(1.2); }

/* todo-list.scss */
.todo-list {
  list-style: none; }
  .todo-list__item {
    width: 80%;
    position: relative;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #E32636;
    padding: 20px 120px 20px 20px;
    transition: all 0.6s;
    box-shadow: 0 1px 9px #BDB76B; }
  .todo-list__buttons {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
    margin-right: 20px; }
    .todo-list__buttons a {
      display: inline-block;
      transition: all 0.3s;
      padding-left: 6px;
      font-size: 24px;
      cursor: pointer; }
      .todo-list__buttons a:last-child {
        padding-right: 5px; }
      .todo-list__buttons a:hover {
        color: #F0E68C; }
